/* Start Variables */
:root {
  /* Colors */
  /** Primary **/
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);

  /** Neutral **/
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);

  /* Sizing */
  --main-sizing: 100px;

  /* Typography */
  --Font-size: 13px;
  --Font-family: "Barlow Semi Condensed", Arial;
  --Font-Weight-medium: 500;
  --Font-Weight-semibold: 600;
}
/* End Variables */

/* Start FontFace */
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Barlow Semi Condensed";
  src: url("../assets/fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* End FontFace */

/* Start Body */
* {
  margin: 0;
}
html {
  font-size: var(--Font-size);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
/* End Body */

/* Start CardsContainer */
.cardsContainer {
  display: grid;
  margin: calc(var(--main-sizing) / 1.5) calc(var(--main-sizing) / 5);
  font-family: var(--Font-family);
  gap: calc(var(--main-sizing) / 2.5);
}
/* End CardsContainer */

/* Start Card */
.card {
  border-radius: calc(var(--main-sizing) / 8);
  padding: calc(var(--main-sizing) / 3.5);
  display: grid;
  gap: calc(var(--main-sizing) / 5);
  box-shadow: 10px 15px 50px -15px var(--Grey-500);
}
.card .header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  column-gap: calc(var(--main-sizing) / 5);
  align-items: center;
}
.card .header .icon {
  grid-area: 1 / 1 / 3 / 2;
}
.card .header .icon img {
  border-radius: 50%;
  border: 2px solid;
  width: calc(var(--main-sizing) / 2.5);
}
.card .header h1.name {
  font-weight: var(--Font-Weight-medium);
  font-size: 1.25rem;
}
.card .header h2.status {
  font-weight: var(--Font-Weight-medium);
  font-size: 1.1rem;
}
.card p.title {
  font-weight: var(--Font-Weight-semibold);
  font-size: 1.8rem;
}
.card p.content {
  font-size: 1.1rem;
  line-height: 1.5;
}
/* End Card */
/* Start EachCard */
.card:nth-of-type(1) {
  background-color: var(--Purple-500);
}
.card:nth-of-type(1) .header .icon img {
  border-color: var(--Purple-300);
}
.card:nth-of-type(1) .header h1.name {
  color: var(--Purple-50);
}
.card:nth-of-type(1) .header h2.status {
  color: var(--Purple-50);
}
.card:nth-of-type(1) p.title {
  color: var(--White);
}
.card:nth-of-type(1) p.content {
  color: var(--Purple-50);
}

.card:nth-of-type(2) {
  background-color: var(--Grey-500);
}
.card:nth-of-type(2) .header .icon img {
  border-color: var(--Grey-400);
}
.card:nth-of-type(2) .header h1.name {
  color: var(--Grey-100);
}
.card:nth-of-type(2) .header h2.status {
  color: var(--Grey-200);
}
.card:nth-of-type(2) p.title {
  color: var(--White);
}
.card:nth-of-type(2) p.content {
  color: var(--Grey-100);
}

.card:nth-of-type(3) {
  background-color: var(--White);
}
.card:nth-of-type(3) .header .icon img {
  border-color: var(--Grey-500);
}
.card:nth-of-type(3) .header h1.name {
  color: var(--Grey-400);
}
.card:nth-of-type(3) .header h2.status {
  color: var(--Grey-400);
}
.card:nth-of-type(3) p.title {
  color: var(--Grey-500);
}
.card:nth-of-type(3) p.content {
  color: var(--Grey-400);
}

.card:nth-of-type(4) {
  background-color: var(--Dark-blue);
}
.card:nth-of-type(4) .header .icon img {
  border-color: var(--Purple-500);
}
.card:nth-of-type(4) .header h1.name {
  color: var(--Grey-100);
}
.card:nth-of-type(4) .header h2.status {
  color: var(--Grey-100);
}
.card:nth-of-type(4) p.title {
  color: var(--Grey-200);
}
.card:nth-of-type(4) p.content {
  color: var(--Grey-100);
}

.card:nth-of-type(5) {
  background-color: var(--White);
}
.card:nth-of-type(5) .header .icon img {
  border-color: var(--Grey-500);
}
.card:nth-of-type(5) .header h1.name {
  color: var(--Grey-400);
}
.card:nth-of-type(5) .header h2.status {
  color: var(--Grey-200);
}
.card:nth-of-type(5) p.title {
  color: var(--Grey-500);
}
.card:nth-of-type(5) p.content {
  color: var(--Grey-400);
}
/* End EachCard */

/* Start Media */
@media (min-width: 1025px) {
  .cardsContainer {
    grid-template-areas:
      "one one two five"
      "three four four five";
  }
  .card {
    grid-template-rows: auto auto 1fr;
  }

  .card:nth-of-type(1) {
    grid-area: one;
    background-image: url("../assets/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - var(--main-sizing) / 2) 0;
  }
  .card:nth-of-type(2) {
    grid-area: two;
  }
  .card:nth-of-type(3) {
    grid-area: three;
  }
  .card:nth-of-type(4) {
    grid-area: four;
  }
  .card:nth-of-type(5) {
    grid-area: five;
  }
}
/* End Media */
